<ul class="nav bg-secondary bg-gradient text-light flex-column h-100">
    <li class="nav-item">
        <a class="nav-link active bg-dark text-light p-3" aria-current="page" href="/"><b>Northwind</b> Trades</a>
    </li>
    <p class="fw-lighter text-white-50 fs-6 m-3 text-uppercase">genral</p>
    <li class="nav-item ">
        <a class="nav-link text-light" aria-current="page" href="/"><i class="bi bi-house-fill"></i><span
                class="mx-3">Home</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light pe-3" href="/dashboard"><i class="bi bi-display-fill"></i><span
                class="mx-3">Dashboard</span></a>
    </li>
    <p class="fw-lighter text-white-50 fs-6 m-3 text-uppercase">backoffice</p>
    <li class="nav-item">
        <a class="nav-link text-light" href="/suppliers"><i class="bi bi-archive-fill"></i><span
                class="mx-3">Suppliers</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/products"><i class="bi bi-cart-check"></i><span
                class="mx-3">Products</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/orders"><i class="bi bi-cart-fill"></i><span
                class="mx-3">Orders</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/employees"><i class="bi bi-person-video2"></i><span
                class="mx-3">Employees</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/customers"><i class="bi bi-people-fill"></i><span
                class="mx-3">Customers</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/search"><i class="bi bi-search"></i><span class="mx-3">Search</span></a>
    </li>
</ul>